{% extends 'base_layout.html' %}   

{% block content %}
   <h1>Tasks list</h1>
    <div class="tasks">
        {% for task in tasks %}
            {% if task.active %}
            <div class="task-pending">
                <p>{{task.title}}</p>
                <p>{{task.description}}</p>
                <p>{{task.date}}</p>
                <p>Status : Pending</p>
                <a href="{% url 'tasks:delete' task.pk %}">Delete</a>
                <a href="{% url 'tasks:done' task.pk %}">Finish</a>
            </div>
            {% else %}
            <div class="task-done">
                <p>{{task.title}}</p>
                <p>{{task.description}}</p>
                <p>{{task.date}}</p>
                <p>Status : Done</p>
                <a href="{% url 'tasks:delete' task.pk %}">Delete</a>
            </div>
            {% endif %}
        {% endfor %}
        </div>
{% endblock %}